// COLORS
$color-1: #381524;
$color-2: #9a1652;
$color-3: #e6b27c;
$color-4: #fdc689;
$color-5: #a3a3a3;
$color-6: #c1c1c1;
$color-7: #edeaeb;
$color-8: #505050;

// FONTS
$font-size-default: 16px;

// scale for 1.2:
$font-size-1: 1em;
$font-size-2: 1.125em;
$font-size-3: 1.375rem;
$font-size-4: 1.5rem;
$font-size-5: 1.75em;
$font-size-6: 2.25rem;


// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  body, html {
    font-size: 14px !important;
  }
}


// MIXINGS

@mixin vertical-centered {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// EXTENDS

%ion-icons {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

%content {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

// CLASSESS

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.video-wrapper {
  overflow: hidden;
  position: relative;
	padding-bottom: 56.25%;
	height: 0;
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
