// ======= //
// GENERAL //
// ======= //

@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:700');

body, html {
  min-height:100%; height: 100%; width:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: $font-size-default;
}


// ========= //
// TYPOGRAFY //
// ========= //

h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {
}

a, p, span, small {

}

a {

}

p {

}

strong {

}



ul {
  @include list-unstyled;
  li {
    display: inline-block;
  }
}



#{$all-buttons}, .button {

}



#{$all-buttons-hover}, .button:hover {
}

#{$all-text-inputs} {
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
}

#{$all-text-inputs-active} {
}

textarea {
}



// ========== //
// COMPONENTS //
// ========== //


// ============= //
// PAGE ELEMENTS //
// ============= //


// ======= //
// SECIONS //
// ======= //

// ===== //
// PAGES //
// ===== //
